
# Python's built-in collections

## Lists

In [ ]:
prices = [15, 19, 7, 40]
accounts = ['Assets', 'Equity', 'Income', 'Expenses']

### Accessing items in a list

In [ ]:
accounts = ['Assets', 'Equity', 'Income', 'Expenses']

accounts[0]

In [ ]:
len(accounts)

In [ ]:
accounts[0]

In [ ]:
print("Account Name: " + accounts[0].upper())

In [ ]:
accounts = ['Assets', 'Equity', 'Income', 'Expenses']

print(accounts[-1])
print(accounts[-2])
print(accounts[-3])
print(accounts[-4])

In [ ]:
accounts = ['Assets', 'Equity', 'Income', 'Expenses']

accounts[0:2]

In [ ]:
accounts[:2]

In [ ]:
accounts[1:]

In [ ]:
accounts = ['Assets', 'Equity', 'Income', 'Expenses']

accounts[-2:]

In [ ]:
a = [1, 2, 3]
b = a[:2]

b.append(10)

print(a)
print(b)

### Adding or removing items from a list

In [ ]:
accounts = ['Assets', 'Equity', 'Income', 'Expenses']
accounts.append('Liabilities')

accounts

In [ ]:
accounts = ['Assets', 'Equity', 'Income', 'Expenses']
accounts.insert(1, 'Liabilities')

accounts

In [ ]:
accounts = ['Assets', 'Equity', 'Income', 'Expenses']
accounts.remove('Income')

accounts

In [ ]:
accounts = ['Assets', 'Equity', 'Income', 'Expenses']
accounts.pop(2)

accounts

In [ ]:
accounts = ['Assets', 'Equity', 'Income', 'Expenses']
removed = accounts.pop()

removed

In [ ]:
accounts

### Modifying items in a list

In [ ]:
accounts = ['Assets', 'Equity', 'Income', 'Expenses']
accounts[2] = 'Revenue'

accounts

In [ ]:
accounts = ['Assets', 'Equity', 'Income', 'Expenses']
accounts.index('Income')

In [ ]:
accounts = ['Assets', 'Equity', 'Income', 'Expenses']
accounts[accounts.index('Income')] = 'Revenue'

accounts

### Organizing a list

In [ ]:
accounts = ['Income', 'Assets', 'Expenses', 'Equity']
accounts.sort()

accounts

In [ ]:
numbers = [9, 1, 16, 4, 36, 25]
numbers.sort(reverse=True)

accounts

In [ ]:
accounts = ['Assets', 'Equity', 'Income', 'Expenses']
accounts.reverse()

accounts

In [ ]:
accounts = ['Income', 'Assets', 'Expenses', 'Equity']
sorted_accounts  = sorted(accounts)
reversed_accounts = reversed(accounts)

print(accounts)
print(sorted_accounts)
print(resersed_accounts)

## Overthinking: Tuples and sets

In [ ]:
values = (1, 4, 5, 2)

values

In [ ]:
values[0]

In [ ]:
values[0] = 9

In [ ]:
accounts = {'Assets', 'Liabilities', 'Revenue', 'Assets'}

accounts

In [ ]:
accounts = {'Assets', 'Liabilities', 'Revenue'}
ledgers = {'Income', 'Assets', 'Equity'}

accounts.union(ledgers)

In [ ]:
accounts.intersection(ledgers)

In [ ]:
accounts.difference(ledgers)

In [ ]:
values = [1, 2, 2, 3, 3, 3]

set(values)

In [ ]:
values = [1, 2, 2, 3, 3, 3]
unique_values = list(set(values))

unique_values

In [ ]:
accounts = ['Assets', 'Equity', 'Income', 'Expenses']
print(accounts[4])

In [ ]:
accounts = []
accounts[-1]

## Dictionaries

In [ ]:
account = {'name': 'Assets', 'value': 12000}

account

In [ ]:
account['name']

In [ ]:
account['value']

In [ ]:
account['updated_at']

In [ ]:
account['created_at'] = '09/03/2020'

account

In [ ]:
account.pop('created_at')

account

In [ ]:
account = {'name': 'Assets', 'value': 12000}
account['name'] = 'Liabilities'
account['value'] = -19300

account

In [ ]:
account = {}

account['name'] = 'Income'
account['value'] = 20100
account['created_at'] = '10/03/2020'

account

In [ ]:
account.keys()

In [ ]:
account.values()

In [ ]:
account = {}

account['name'] = 'Income'
account['value'] = 20100
account['created_at'] = '10/03/2020'

account['info'] = {'title': 'Main income account', 'description': 'Account description'}
account['ins'] = [12000, 2300, 5800]

print(account)

In [ ]:
account['info']['title']

## Membership operators

In [ ]:
accounts = ['Assets', 'Equity', 'Income', 'Expenses']

'Income' in accounts

In [ ]:
'Revenue' not in accounts

In [ ]:
account = {'name': 'Income', 'value': 20100, 'created_at': '10/03/2020'}

'name' in account

In [ ]:
'updated_at' in account

In [ ]:
account = {'name': 'Income', 'value': 20100, 'created_at': '10/03/2020'}

'value' in account and account['value'] > 10000

## Associated built-in functions

In [ ]:
values = [1, 2, 2, 3, 3, 3]

set(values)

In [ ]:
tuple(values)

In [ ]:
list(set(values))

In [ ]:
account = {'name': 'Income', 'value': 20100, 'created_at': '10/03/2020'}

list(account)

In [ ]:
values = [('name', 'Income'), ('value', 20100)]

dict(values)