
# Variables and operators

In [ ]:
message = 'hello, python for accounting world!'

## Everything is an object

In [ ]:
message.upper()

In [ ]:
numbers = [10, 20, 30]
numbers.append(100)

numbers

In [ ]:
numbers = [10, 20, 30]
numbers.append

In [ ]:
x = 5

print(x.real)
print(x.imag)

In [ ]:
x.bit_length()

In [ ]:
import pandas as pd 

df = pd.read_excel("Q1Sales.xlsx")

In [ ]:
df.sum()

## Point me to the values

In [ ]:
value = 100
message = 'hello, python for accounting world!' 
numbers = [1.1, 1.2, 1.3]

In [ ]:
a = [10, 20, 30]
b = a

print(a)
print(b)

In [ ]:
a = [10, 20, 30]
b = a

# add a new item to list
a.append(40)

print(a)
print(b)

In [ ]:
a = [10, 20, 30]
b = a

a = [10, 20, 30, 40]

print(a)
print(b)

In [ ]:
x = 10
y = x

x = x + 10

print(x)
print(y)

## The cycle of a variable's life

In [ ]:
message = 'hello, python for accounting!'

del message

In [ ]:
message

## Operators

### Arithmetic operators

In [ ]:
x = 5
y = 2

x * y + (x // y)

In [ ]:
2 * 3 + 4

In [ ]:
-10 ** 2

In [ ]:
(-10) ** 2

### Comparison operators

In [ ]:
x = 5

1 < x < 10

In [ ]:
24 % 2 == 0

### Assignment operators

In [ ]:
x = 5

In [ ]:
x = 5
x = x + 2

x

In [ ]:
# equivalent to:
x = 5
x += 2

x

In [ ]:
x = 5
x = x ** 2

# equivalent to:
x = 5
x **= 2

In [ ]:
x