
# Concatenating tables

## Row-wise concatenation

In [ ]:
cols = ['ProductID', 'Quantity', 'Total']

jan_df = pd.read_excel('Q1Sales.xlsx', sheet_name='January', usecols=cols, nrows=5)
feb_df = pd.read_excel('Q1Sales.xlsx', sheet_name='February', usecols=cols, nrows=5)
mar_df = pd.read_excel('Q1Sales.xlsx', sheet_name='March', usecols=cols, nrows=5)

In [ ]:
jan_df

In [ ]:
feb_df

In [ ]:
mar_df

In [ ]:
pd.concat([jan_df, feb_df, mar_df])

In [ ]:
pd.concat([jan_df, feb_df, mar_df], ignore_index=True)

In [ ]:
pd.concat({'Jan': jan_df, 'Feb': feb_df, 'Mar': mar_df})

In [ ]:
df = pd.concat({'Jan': jan_df, 'Feb': feb_df, 'Mar': mar_df})

df.index

In [ ]:
df.loc['Mar']

In [ ]:
df.loc[('Mar', 0)]

In [ ]:
pd.concat([
    jan_df[['ProductID', 'Quantity']],
    feb_df[['ProductID', 'Total']]
])

In [ ]:
pd.concat([
        jan_df[['ProductID', 'Quantity']],
        feb_df[['ProductID', 'Total']]
    ], 
    join='inner',
    ignore_index=True
)

## Column-wise concatenation

In [ ]:
pd.concat([jan_df, feb_df, mar_df], axis='columns')

In [ ]:
pd.concat([jan_df.head(3), mar_df.tail(3)], axis='columns')

In [ ]:
pd.concat([jan_df.head(3), mar_df.tail(3)], axis='columns', join='inner')

## Appending rows to a DataFrame

In [ ]:
jan_df.append(feb_df)

In [ ]:
jan_df.append([feb_df, mar_df], ignore_index=True)

In [ ]:
feb_df.append([{
        'ProductID': 'Subtotal', 
        'Quantity': feb_df['Quantity'].sum(), 
        'Total': feb_df['Total'].sum()
    }], ignore_index=True)