
# Tables, columns, and values

## Series

In [ ]:
import pandas as pd

In [ ]:
pd.Series({'first_row': 3, 'second_row': -20, 'third_row': 121})

In [ ]:
pd.Series({0: 'Assets', 5: 'Revenue', -3: 'Sales'})

In [ ]:
values = pd.Series({'first_row': 3, 'second_row': -20, 'third_row': 121})

values['second_row']

In [ ]:
values.sum()

## DataFrame

In [ ]:
df = pd.DataFrame({
    "first_column": pd.Series({"first_row": 3, "second_row": -20, "third_row": 121}),
    "second_column": pd.Series({"first_row": 0.23, "second_row": 2, "third_row": -3.5}),
    "third_column": pd.Series({"second_row": 'Assets'}),
})

df

In [ ]:
df['first_column']

In [ ]:
df['first_column']['second_row']

## Index and axes

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df.columns[2]

In [ ]:
df.index[1]

In [ ]:
df

In [ ]:
df.transpose()

### Axes

In [ ]:
df.axes

In [ ]:
[df.index, df.columns]

In [ ]:
df.count(axis='rows')

In [ ]:
df.count(axis='columns')

## Values and types

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df['first_column'].sum()

In [ ]:
df['first_column'].astype('string').sum()